<div class="content">
	<div class="row justify-content-md-center">
	    <div class="col-6">

			<ul class="list-group">

				<li class="list-group-item list-group-item-action" *ngFor="let item of items" >
				      <span>{{item.name}}</span>
				      <span class="badge">{{item.creationDate | date}}</span>
				      <div class="pull-right">
				          <button class="btn btn-primary btn-xs fa fa-pencil" (click)="onEdit(item)"></button>
				          <button class="btn btn-danger btn-xs fa fa-trash-o" (click)="onRemove(item)"></button>
				      </div>
				</li>

			</ul>
	</div>
</div>